@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F3F3EE;
    height: auto;
}

h1{
    color:#0E3C66;
}

h3{
    color:#967957;
}

.banner{
    width: 100%;
    position: fixed;  /* fix the position of banner as scrolling down */
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    /* Frosted Glass Effect */
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.logo{
    margin:0.5rem 1.5rem;
}

.logo a{
    text-decoration: none; /*remove underlines*/
    font-size: 15px;
    letter-spacing: 4px;
    font-family:'Satisfy';
    color: #0E3C66;
    transition: color 0.5s;
}

.logo a:hover{
    color:white;
    text-shadow:1px 1px #558ABB;
}

.toggle_button {
    position: absolute;
    top:0.25rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    padding:8px 0;
}

.toggle_button .bar {
    height: 1.75px;
    width: 60%;
    background-color: #967957;
    border-radius: 20px;
}

.navbar_links ul {
    padding:0;
    margin: 0 2rem;
    display: flex;
}

.navbar_links li {
list-style: none; /*no dots*/
}

.navbar_links li a{
    text-decoration: none; /*remove underlines*/
    font-size: 10px;
    padding: 0.75rem 1rem;
    display: block;
    font-family:'Audiowide';
    color: #967957;
    transition: background-color 0.5s;
}

.navbar_links li a:hover{
    background-color: #0E3C66;
    color:white;
}

.section{
    width: 80%;
    height: 700px;
    display: flex; /*flex box container*/
    justify-content:space-around;
    margin:2% auto;
    padding: 2rem;
}

.Introduction{
    width:50%;
    min-height:20%;
    display: flex;
    flex-direction: column;
    align-self:center;
    text-align:center;
    font-family: "Cardo";
}

.button{
    font-size:0.5rem;
    display: inline-block;
    text-decoration: none;
    color:#967957;
    background-color: white;
    margin: 10px;
    padding: 10px 15px;
    border:none;
    border-radius: 15px;
    transition: background-color 0.5s;
}

.button:hover{
    background-color: #0E3C66;
    color:white;
}

.circle{
    width:45%;
    max-width: 500px;
    float:right;
    margin: auto 20px; /*控制位置*/
    border: 2px solid #967957;
    border-radius: 50%;
}

.circle:after {
    content: "";
    display: block;
    padding-bottom: 100%; /*padding is calculated as a percentage of its parent element’s width, not height. */
  }

.contact_section{
    width: 600px;
    height: 400px;
    display: flex; /*flex box container*/
    justify-content:space-around;
    margin:100px auto;
    padding: 2rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

@media (max-width: 800px) {
    .banner{
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle_button {
        display: flex;
    }

    .navbar_links {
        display: none;
        /* make the container 100% */
        width: 100%; 
    }

    .navbar_links ul {
        width: 100%; 
        margin: 0;
        flex-direction: column;
    }

    .navbar_links li {
        text-align: center;
    }

    .navbar_links.active{
        display:flex;
    }
}